<!DOCTYPE html>
<html>
	<head>
		<title>Dream Blog</title>
		<link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
		<link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
		<body>
			<div class="ui large fixed inverted borderless teal menu">
				<div class="ui container">
					<div class="header item"><i class="cloud icon"></i>Dream Blog</div>
					<a href="/" class="item">Home</a>
					<a href="/blogs/new" class="item">New Post</a>
				</div>
			</div>